<% include ../partials/header %>

<div class="container">
    <div class="row">
        
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/ProfilePictures/<%= profile.profileImage %>">
                <h4><a><%= profile.firstname %> <%= profile.lastname %></a></h4>
                <p> <%= profile.description %></p>
                <% if(currentUser && profile._id.equals(currentUser.profile.id)){ %>
                <a class="btn btn-warning" href="/profiles/<%= profile._id%>/edit">Edit</a>
                <form class="delete-form" action="/profiles/<%= profile._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
            </div> 
        </div>
        
    </div>
</div>



<% include ../partials/footer %>